@font-face{
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face{
    font-family: 'Roboto';
    src: url(../styles/fonts/Roboto/Roboto-Thin.ttf);
}